.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

button {
  margin: 10px;
}

#submit {
  margin-top: 20px;
  font-size: 30px;
}

.div-generalDetails {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.div-generalDetails label {
  padding: 5px;
}

.div-generalDetails label:hover {
  background: red;
}

.featuredPublications-row {
  padding: 10px;
}

.currentProjects-row {
  padding: 10px;
}