{% extends 'landing_base.html' %}

{% block content %}
<div class="section-middle" id="section-middle">
	<!-- start the center section for desktop-->
	<div class="section-middle-desktop" id="desktop">
		<div class="index-header-container">
			<div class="index-header-section">
				<h2>
					A new era of  <br> academic websites
				</h2>
				<p style="max-width: 510px;">
					Maintaining an academic online presence is not easy. That's why we created our one-stop-shop solution: <span class="purple-text">Sphera</span>. a free, customizable and easy-to-use template for a personal website, that contains your entire academic life in one place. And yes, it’s mobile friendly too!
				</p>
				<a class="link-btn-big width-300-px" href="{{ url_for('join_our_team') }}">
					Join our team
				</a>
				<a class="main-btn-big width-300-px" href="{{ url_for('join_our_team') }}">
					Sign up for beta access
				</a>
			</div>
		</div>

		<div class="section-container" id="whatwedo">
			<div class="section">
				<h3>
					You’ll choose what information to share. We’ll do all the rest.
				</h3>
				<div class="personal-row space-evenly"  style="padding-left:20px;">
					<div class="section-item font-20">
						<span class="big-number">1</span> Tell us about yourself, and share your research interests, publications and course information.
					</div>
					<div class="section-item font-20">
						<span class="big-number">2</span> Get a free personal website that showcases your research and helps your students succeed.
					</div>
					<div class="section-item font-20">
						<span class="big-number">3</span> Update and maintain your website easily and quickly, anytime and from any device.
					</div>
				</div>
			</div>
		</div>

		<div class="section-container white-bg">
			<div class="section">
				<div class="personal-row space-evenly items-vertical-center">
					<div class="section-item w-100 space-evenly "  style="padding-left:20px;">
						<h4>
							A one-stop-shop solution for all your academic needs
						</h4>
						<p class="content-justify">
							Access and share everything you need from one convenient personal website: publications, course materials, information for research students, side projects, online class recordings and much more. It’s customizable, accessible and available on desktop and mobile devices.
						</p>
					</div>
					<div class="section-item w-100 space-evenly remove-under-1440">
						<img class="desktop" src="../static/images/index_desktop.png" alt="desktop sample website view" />
					</div>
				</div>
			</div>
		</div>

		<div class="section-container">
			<div class="section">
				<div class="personal-row space-evenly items-vertical-center">
					<div class="section-item w-100 space-evenly remove-under-1440" style="padding-bottom: 80px; padding-right: 100px;">
						<img src="../static/images/index_mobile_2.png" alt="mobile sample website view" class="mobile"/>
					</div>
					<div class="section-item w-100 space-evenly">
						<h4>
							Simple, easy-to-use and intuitive
						</h4>
						<p class="content-justify">
							We conducted research and analyzed relevant data to design a template that’s easy to customize and simple to maintain. You can upload course materials, share your latest publications or post updates in just a few clicks, while still enjoying a polished, professional result. It’s completely free to create a website with our template, and it’s all open-source too, so anyone can contribute.
						</p>
					</div>
				</div>
			</div>
		</div>


		<div id="whoweare" class="section-container white-bg" style="margin-top: -60px; padding-top: 80px;">
			<div class="section" style="padding-top:32px">
				<h2 class="section-title">
					Who we are
				</h2>
				<h4 class="section-title-second">
					We’re building this platform because we want to change the academic world for the better.
				</h4>
				<div class="personal-row space-evenly" style="margin-bottom: 30px;">
					<div class="member-item">
						<img src="../static/images/cirlce_AyeletKessel.png">
						<h4>Ayelet Kessel </h4>
						<h5> UX writer </h5>
					</div>
					<div class="member-item">
						<img src="../static/images/cirlce_AdamNizri.png">
						<h4>Adam Nizri </h4>
						<h5> UX/UI designer</h5>
					</div>
					<div class="member-item">
						<img src="../static/images/cirlce_NoamTzionit.png">
						<h4>Noam Tzionit </h4>
						<h5> UI/UX designer </h5>
					</div>
					<div class="member-item">
						<img src="../static/images/nadavSpitzer.jpg">
						<h4>Nadav Spitzer </h4>
						<h5> Developer </h5>
					</div>
					<div class="member-item">
						<img src="../static/images/hadarRobinzon.jpg">
						<h4>Hadar Robinzon </h4>
						<h5> Developer </h5>
					</div>
				</div>
				<div class="personal-row space-evenly" style="margin-bottom: 30px;">
					<div class="member-item">
						<img src="../static/images/cirlce_TeddyLazebnik.png">
						<h4>Teddy Lazebnik </h4>
						<h5> Developer </h5>
					</div>
					<div class="member-item">
						<img src="../static/images/cirlce_ArielFenster.png">
						<h4>Ariel Fenster </h4>
						<h5> Developer </h5>
					</div>
					<div class="member-item">
						<img src="../static/images/ArielAlexi.jpg">
						<h4>Ariel Alexi </h4>
						<h5>Product Manager </h5>
					</div>
					<div class="member-item">
						<img src="../static/images/yaelMohaban.jpg">
						<h4>Yael Mohaban </h4>
						<h5> Developer </h5>
					</div>
				</div>
				<div class="personal-coloum center"  style="margin-bottom: 30px;">
					<h5 class="section-footer">
						We’re all volunteers, and we’re always looking for help. <br> If you want to join our team, get in touch.
					</h5>
					<a class="link-btn-big index-btn" href="{{ url_for('join_our_team') }}" style="width: 280px;">
						Join our team
					</a>
				</div>
			</div>
		</div>

		<div class="section-container blue-bg">
			<div class="section">
				<div class="personal-coloum center beta-section">
					<p>
						Are you an academic interested in our website template? We’re looking for lecturers that’ll teach during the 2021 fall semester, and want to be among the first to create their own personal, intuitive website using our platform.
					</p>
					<h4 id="index-blue-title">
						Make your academic life easier
					</h4>
					<a href="{{ url_for('sign_for_beta') }}">
						Sign up for beta access
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- start the center section for mobile-->
	<div class="section-middle-mobile" id="mobile" style="display: none;">
		<div class="index-header-section-mobile">
			<h2>
				A new era of  <br> academic websites
			</h2>
			<p>
				Maintaining an academic online presence is not easy. That's why we created our one-stop-shop solution: <span class="purple-text">Sphera</span>. a free, customizable and easy-to-use template for a personal website, that contains your entire academic life in one place. And yes, it’s mobile friendly too!
			</p>
			<a class="main-btn-big width-300-px" href="{{ url_for('sign_for_beta') }}">
				Sign up for beta access
			</a>
		</div>

		<div class="index-section-img">
			<div class="mobile-img">
				<img src="../static/images/index_mobile_1.png" alt="mobile sample website view"/>
			</div>
			<h3>
				You’ll choose what <br> information to share.<br> We’ll do all the rest.
			</h3>
			<div class="mobile-img">
				<img src="../static/images/index_mobile_2.png" alt="mobile sample website view"/>
			</div>
		</div>

		<div class="section-container">
			<div class="index-section-mobile">
				<div class="index-space-50"></div>
				<div class="index-text-section">
					<h2>Tell us about yourself</h2>
					<p>and share your research interests, publications, and course information.</p>
				</div>
				<div class="index-space-50"></div>
				<div class="index-text-section">
					<h2>Get a free website</h2>
					<p>that showcases your research and helps your students succeed.</p>
				</div>
				<div class="index-space-50"></div>
				<div class="index-text-section">
					<h2>Update and maintain</h2>
					<p>your website easily and quickly, anytime and from any device.</p>
				</div>
				<div class="index-space-50"></div>
			</div>
		</div>
			<div id="whoweare_mobile" style="margin-top: -60px; padding-top: 50px;">
				<div class="index-space-50"></div>
				<h3 class="index-section-title">
					Who we are
				</h3>
				<div class="personal-row space-evenly w-100">
					<div class="member-item">
						<img src="../static/images/cirlce_AyeletKessel.png">
						<h4> Ayelet Kessel </h4>
						<h5> UX writer </h5>
					</div>
					<div class="member-item">
						<img src="../static/images/cirlce_NoamTzionit.png">
						<h4> Noam Tzionit </h4>
						<h5> UI/UX designer </h5>
					</div>
	  <div class="member-item">
						<img src="../static/images/ArielAlexi.jpg">
						<h4>Ariel Alexi </h4>
						<h5>Product Manager </h5>
					</div>
				</div>
				<div class="personal-row space-evenly w-100">
					<div class="member-item">
						<img src="../static/images/cirlce_AdamNizri.png">
						<h4> Adam Nizri </h4>
						<h5> UX/UI designer</h5>
					</div>
	  <div class="member-item">
						<img src="../static/images/cirlce_TeddyLazebnik.png">
						<h4> Teddy Lazebnik </h4>
						<h5> Developer </h5>
					</div>
					<div class="member-item" >
						<img src="../static/images/cirlce_ArielFenster.png">
						<h4> Ariel Fenster </h4>
						<h5> Developer</h5>
					</div>
				</div>
				<div class="personal-row space-evenly w-100">
					<div class="member-item">
						<img src="../static/images/hadarRobinzon.jpg">
						<h4> Hadar Robinzon </h4>
						<h5> Developer </h5>
					</div>
					<div class="member-item">
						<img src="../static/images/yaelMohaban.jpg">
						<h4> Yael Mohaban </h4>
						<h5> Developer </h5>
					</div>
	  <div class="member-item">
						<img src="../static/images/nadavSpitzer.jpg">
						<h4>Nadav Spitzer </h4>
						<h5> Developer </h5>
					</div>
				</div>
				<div class="personal-coloum center"  style="margin-bottom: 30px;">
					<h5 class="section-footer">
						We’re all volunteers, and we’re always looking for help. If you want to join our team, get in touch.
					</h5>
					<a class="main-btn-border" href="{{ url_for('join_our_team') }}" style="width: 280px;">
						Join our team
					</a>
					<div class="index-space-50"></div>
				</div>
			</div>

			<div class="blue-bg">
				<div class="personal-coloum beta-section">
					<div class="index-section-text">
						<h4 id="index-blue-title-mobile">
							Make your academic life easier
						</h4>
						<p style="margin-bottom: 53px;">
							Are you an academic interested in our website template? We’re looking for lecturers that’ll teach during the 2021 fall semester, and want to be among the first to create their own personal, intuitive website using our platform.
						</p>
					</div>
					<a href="{{ url_for('sign_for_beta') }}" style="width: 312px; color: #5A67D8;" >
						Sign up for beta access
					</a>
				</div>
			</div>
		</div>
	<!-- Set when to use template mobile and when desktop-->
	</div>
{% endblock %}

{% block js %}
<script>
	window.onload = function() {
		update_style();
	};
	window.onresize = update_style;

	function update_style()
	{
		const isMobile = matchMedia('(max-device-width:600px)').matches;
		const section_middle = document.getElementById("section-middle");
		if (isMobile)
		{
			document.getElementById("mobile").style.display = "";
			document.getElementById("desktop").style.display = "none";
		}
		else
		{
			document.getElementById("desktop").style.display = "";
			document.getElementById("mobile").style.display = "none";
		}
	}
</script>
{% endblock %}

